<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <style>
        section {
            width: 500px;             /* 너비 값 */
            height: 500px;
            padding: 15px;            /* 테두리와 내용물 사이의 여백 */
            border: 5px solid gray;   /* 테두리 회색 실선 두께 - 5픽셀 */
        }
    </style>
    <title>Title</title>

</head>
<body>
    <h3>수정하기</h3>
    <section id="board">
        <input type="text" placeholder="아이디" readonly/>
        <input type="text" id="id" name="id" readonly/>
        <br>
        <input type="text" placeholder="이름" readonly/>
        <input type="text" id="name" name="name"/>
        <br>
        <input type="text" placeholder="성별" readonly/>
        <input type="radio" id="male" name="gender" value="남">
        <label for="male">남</label>
        <input type="radio" id="female" name="gender" value="여">
        <label for="female">여</label>

        <br>
        <input type="text" placeholder="국가" readonly/>
        <select id="country" name="country" onchange="loadCity(this)">
            <option value="">국가</option>
            <option value="한국">한국</option>
            <option value="일본">일본</option>
            <option value="중국">중국</option>
        </select>
        <br>
        <input type="text" placeholder="도시" readonly/>
        <select id="city" name="city">
            <option value="">도시</option>
        </select>

        <div>
            <button type="button" onclick="saveBtn()">저장</button>
            <button type="button" onclick="cancelBtn()">취소</button>
        </div>
    </section>

</body>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
        $(document).ready(function(){

              $('#id').val(window.opener.id);

              $('#name').val(window.opener.name);

              var gender = document.getElementsByName('gender')[0].value
              gender = window.opener.gender;
              $(":radio[name='gender'][value='" + gender +"']").attr('checked', true);

              var country = window.opener.country;
              $('#country').val(country);
               console.log("국가" + country);

              loadCity(country);

              var city = window.opener.city;
              $('#city').val(city);


        });
        //동적 select
        function loadCity(e) {
            console.log("e" + e);
            let korea=["서울","부산","대전","대구"];
            let japan=["도쿄","오사카","후쿠오카","교토"];
            let china=["상하이","광저우","산시성","베이징"];

            var target = document.getElementById("city");


            if(e.value == "한국" || e == "한국") var d = korea;
            else if(e.value == "일본" || e == "일본") var d = japan;
            else if(e.value == "중국" || e == "중국") var d = china;

            target.options.length = 0;

            for(x in d) {
                let opt = document.createElement("option");
                console.log(d[x]);
                opt.value = d[x];
                opt.innerHTML = d[x];
                target.appendChild(opt);
            }
       }

       //저장
       function saveBtn() {
                    if($('#id').val() ==""){alert("다 기입하세요"); return;}
                    var id = $('#id').val();

                    if($('#name').val() ==""){ alert("다 기입하세요"); return;}
                    var name = $('#name').val();

                    if($('input[name="gender"]:checked').val() == undefined){ alert("다 기입하세요"); return;}
                    var gender = $('input[name="gender"]:checked').val();

                    if($('#country').val() ==""){ alert("다 기입하세요"); return;}
                    var country = $('#country').val();

                    if($('#city').val() ==""){ alert("다 기입하세요"); return;}
                    var city = $('#city').val();

                var boardRequest = {
                        "id" : id,
                        "name" : name,
                        "gender" : gender,
                        "country" : country,
                        "city" : city
                    };

            $.ajax({
                    url         :   "/board/modify",
                    dataType    :   "json",
                    contentType :   "application/x-www-form-urlencoded; charset=UTF-8",
                    data        :    boardRequest,
                    type        :   "post",
                    success     :    function(retVal){
                                alert(retVal.message);
                                console.log(retVal.status);
                                window.close();
                                window.opener.location.reload();
                    },
                    error       :    function(e){
                                //다른 에러 났을때도 아이디 중복입니다 코드 내뱉으니깐
                                //id값가지고 데이터베이스에서 중복이 있는지 찾는게 맞는듯
                                //근데 id가 pk라서 id를 변경 필수로 해야함 딱히 어떻게 구별할 방법이없음
                                //하면 할 수 있을거 같은데 pk변경이 좋은건가??
                               console.log(e.status);
                               //alert("아이디 중복 입니다");
                    }
                });
       }



</script>
</html>