input {
 text-align: center;
}
input::placeholder {
  color: black;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items:center;
  margin-top : 20px;
}
.wrapper2 {
  display: flex;
  justify-content: center;
  align-items:center;
}

table {
    width: 900px;
    height: 100px;
    border: 2px solid gray;
}

#tableData {
    text-align: center;
}

#id {
    margin-right : 18px;
    margin-bottom : 15px;
    width : 150px;
    height : 30px;
}

#name {
    margin-right : 200px;
    margin-bottom : 15px;
    width : 150px;
    height : 30px;
}

#country {
    margin-right : 18px;
    width : 150px;
    height : 30px;
}

#city {
    margin-right : 18px;
    width : 150px;
    height : 30px;
}

#startDate {
    margin-right : 10px;
    width : 150px;
    height : 30px;
}

#endDate {
    width : 150px;
    height : 30px;
}

.btn {
    margin-left : 400px;
    margin-bottom: 10px;
}

#btnSearch, #btnAddRow,
#btnSave, #excelDownload,
#btnDel{
    border-radius: 12px;
    background: white;
    border: 2px solid gray;
}

section {
    width: 900px;             /* 너비 값 */
    height: 1000px;
    padding: 15px;            /* 테두리와 내용물 사이의 여백 */
    border: 5px solid gray;   /* 테두리 회색 실선 두께 - 5픽셀 */
}